/* general page styke */
body {
    background-color: #f5f7f3;
}

/* element styles */
a {
    cursor: pointer !important;
}
/* footer {
    z-index: -1 !important;
} */
/* class styles */
.w3-dropdown-content {
    width: 400px !important;
    z-index: 999 !important;
}

/* id styles */
#about {
    max-width: 100%;
}
#avatar {
    width: 100%;
}
#resume {
    margin-top: 5% !important; 
    margin-bottom: 10% !important;
}
#homePage {
    margin: auto;
    margin-top: 5% !important;
}
#contactPage {
    margin: auto;
    margin-top: 5% !important;
}
#port-row-2 {
    margin: auto !important;
}
#portfolio {
    margin-top: 5%;
    margin-bottom: 5%;
}
#contactImage {
    width: 435px !important;
    height: 290px !important;
}

/* color theme */
.w3-theme-l5 {color:#000 !important; background-color:#f5f7f3 !important}
.w3-theme-l4 {color:#000 !important; background-color:#dee6d7 !important}
.w3-theme-l3 {color:#000 !important; background-color:#bccdaf !important}
.w3-theme-l2 {color:#000 !important; background-color:#9bb487 !important}
.w3-theme-l1 {color:#fff !important; background-color:#7a9960 !important}
.w3-theme-d1 {color:#fff !important; background-color:#516640 !important}
.w3-theme-d2 {color:#fff !important; background-color:#485a39 !important}
.w3-theme-d3 {color:#fff !important; background-color:#3f4f31 !important}
.w3-theme-d4 {color:#fff !important; background-color:#36442a !important}
.w3-theme-d5 {color:#fff !important; background-color:#2d3823 !important}

.w3-theme-light {color:#000 !important; background-color:#f5f7f3 !important}
.w3-theme-dark {color:#fff !important; background-color:#2d3823 !important}
.w3-theme-action {color:#fff !important; background-color:#2d3823 !important}

.w3-theme {color:#fff !important; background-color:#5a7247 !important}
.w3-text-theme {color:#5a7247 !important}
.w3-border-theme {border-color:#5a7247 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#5a7247 !important}
.w3-hover-text-theme:hover {color:#5a7247 !important}
.w3-hover-border-theme:hover {border-color:#5a7247 !important}

/* mobile responsive */
@media only screen and (max-width: 600px) {
    .w3-dropdown-content {
        display: none !important;
    }
    #homePage {
        margin-top: 180px !important;
        margin-bottom: 100px !important;
    }
    #resume {
        margin-top: 180px !important;
        margin-bottom: 100px !important;
    }
    #homeImage {
        width: 100% !important;
    }
    #contactPage {
        margin-top: 180px !important;
        margin-bottom: 100px !important;
    }
    #contactImage {
        width: 100% !important;
    }
    #portfolio {
        margin-top: 180px !important;
        margin-bottom: 100px !important;
    }
}